.homeText {
  text-align: center;
  color: #f0f0ea;
  top: 19rem;
  font-size: 2vw;
  position: relative;
  text-shadow: 1px 1px 1px #666;
}

.uk-animation-fade {
  animation-duration: 3s;
}

.uk-animation-kenburns {
  animation-name: uk-scale-kenburns;
  animation-duration: 8s;
}

#heroImage {
  background-image: url(../../images/portfolio1min.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  background-position: center;
}

#homeName {
  font-size: 6vw;
  font-weight: bold;
  top: 22rem;
}
