.uk-navbar-transparent {
  background-color: #7c7a5c;
}

.uk-navbar-nav>li>a {
  color: #f0f0ea;
  padding: 0vw 3vw;
}

.uk-navbar-nav>li>a:focus {
  color: #f0f0ea;
}

.uk-navbar-nav>li>a:hover {
  color: #E1AB97 !important;
}

.uk-navbar-nav>li>a:active {
  color: #f0f0ea;
}
