html {
  background-color: #100D0D;
}

body {
  background-image: url("./images/portfolio1min.png");
  background-position: center top;
  font-family: 'Montserrat', sans-serif;
}

.content {
  min-height: calc(100vh - 70px);
}

