html {
  background-color: #000;
}

body {
  /* background-image: url("./images/portfolio1min.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center top; */
  font-family: 'Montserrat', sans-serif;
}

